<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Obesity API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- styles -->
  <link rel="stylesheet" href="static/assets/css/fancybox/jquery.fancybox.css">
  <link href="static/assets/css/bootstrap.css" rel="stylesheet" />
  <link href="static/assets/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/assets/css/slippry.css">
  <link href="static/assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/assets/color/default.css">
  <script src="static/assets/js/modernizr.custom.js"></script>
</head>

<body>
  <header>

    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Obesity API</a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="current"><a href="#intro">Inicio</a></li>
                <li><a href="#Estadistica">Estadisticas</a></li>
                <li><a href="#API">API</a></li>
                
              </ul>
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </div>

      </div>
    </div>

  </header>
  <!-- section intro -->
  <section id="intro">
    <ul id="slippry-slider">
      <li>
        <a href="#slide1"><img src="static/assets/img/slide/1.jpg" alt="Bienvenidos a Obesity API"></a>
      </li>
      <li>
        <a href="#slide2"><img src="static/assets/img/slide/2.jpg"  alt="Predicción de tu Estado"></a>
      </li>
      <li>
        <a href="#slide3"><img src="static/assets/img/slide/3.jpg" alt="Verificá los pasos a seguir <span class='red'>♥</span>  :)"></a>
      </li>
    </ul>
  </section>
  <!-- end intro -->
  <!-- Section about -->
  <section id="Estadistica" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="heading">
            <h3><span>Estadísticas</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              Realizando click debajo de la foto podrás ingresar al proyecto.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="team-box">
            <img src="static/assets/img/dummies/estadis1.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Python Analytics</strong></h5>
              <p>
                Proyecto Final
              </p>
              <ul class="social-profile"> 
                <li><a href="https://colab.research.google.com/drive/103M4L-yxRTm_PAGkC_vb9995QPk7wXu5?usp=sharing"><i class="fa fa-dribbble fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-box">
            <img src="static/assets/img/dummies/estadis2.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Python Analytics</strong></h5>
              <p>
                Proyecto Final
              </p>
              <ul class="social-profile">
                <li><a href="https://colab.research.google.com/drive/103M4L-yxRTm_PAGkC_vb9995QPk7wXu5?usp=sharing"><i class="fa fa-dribbble fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-box">
            <img src="static/assets/img/dummies/estadis3.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Python Analytics</strong></h5>
              <p>
                Proyecto Final
              </p>
              <ul class="social-profile">
                <li><a href="https://colab.research.google.com/drive/103M4L-yxRTm_PAGkC_vb9995QPk7wXu5?usp=sharing"><i class="fa fa-dribbble fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-box">
            <img src="static/assets/img/dummies/estadis4.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Python Analitics</strong></h5>
              <p>
                Proyecto Final
              </p>
              <ul class="social-profile">
                <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section about -->
  <!-- section works -->
  <section id="API" class="section gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="heading">
            <h3><span>PREDICCION</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              Aquí podrás colocar tus parametros y el programa podrá indicarte la mejor forma de llevarlo
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="grid effect" id="grid">
            <section class="main">
              <div class="form">
                <h1>Acciones a tomar para mejorar tu calidad de vida</h1>
          
                  <!-- Formulario para recibir los parámetros para predicir  -->
                  <form action="{{ url_for('predict')}}"method="post">
                    <input type="text" name="Sexo" placeholder="Indicar Sexo" required="required" />
                    <input type="text" name="Altura" placeholder="Indicar Altura" required="required" />
                    <input type="text" name="Peso" placeholder="Indicar Peso" required="required" />
                    <input type="text" name="Imc" placeholder="Indicar Indice de masa corporal" required="required" />
                    <button type="submit" onsubmit="return false" class="btn btn-primary btn-block btn-large">Predecir tu destino</button>
                  </form>
          
                <br>
                <br>
                <h1>{{ prediction_text }}</h1>
                {% if prediction_image %}
                <img src="{{ prediction_image }}" alt="Image">
                {% endif %}
              </div>
          
            </section>
               
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- section works -->        
  <footer>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aligncenter">
              <ul class="social-network social-circle">
                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="aligncenter">
              <p>
                &copy; Salinas Javier - Pyton Analytics.
              </p>
              <div class="credits">
             
                <a href=""></a> by <a href=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="scrollup"><i class="fa fa-angle-up fa-2x"></i></a>
  <!-- javascript -->
  <script src="static/assets/js/jquery-1.9.1.min.js"></script>
  <script src="static/assets/js/jquery.easing.js"></script>
  <script src="static/assets/js/classie.js"></script>
  <script src="static/assets/js/bootstrap.js"></script>
  <script src="static/assets/js/slippry.min.js"></script>
  <script src="static/assets/js/nagging-menu.js"></script>
  <script src="static/assets/js/jquery.nav.js"></script>
  <script src="static/assets/js/jquery.scrollTo.js"></script>
  <script src="static/assets/js/jquery.fancybox.pack.js"></script>
  <script src="static/assets/js/jquery.fancybox-media.js"></script>
  <script src="static/assets/js/masonry.pkgd.min.js"></script>
  <script src="static/assets/js/imagesloaded.js"></script>
  <script src="static/assets/js/jquery.nicescroll.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
  <script src="static/assets/js/AnimOnScroll.js"></script>
  <script>
    new AnimOnScroll(document.getElementById('grid'), {
      minDuration: 0.4,
      maxDuration: 0.7,
      viewportFactor: 0.2
    });
  </script>
  <script>
    $(document).ready(function() {
      $('#slippry-slider').slippry(
        defaults = {
          transition: 'vertical',
          useCSS: true,
          speed: 5000,
          pause: 3000,
          initSingle: false,
          auto: true,
          preload: 'visible',
          pager: false,
        }

      )
    });
  </script>

  <script src="static/assets/js/custom.js"></script>
  <script src="static/contactform/contactform.js"></script>

</body>

</html>
